.beatme-header {
  width: 100vw;
  background-color: #1399d8;
  color: white;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24pt;
}

.beatme-jombotron {
  text-align: left;
}

.beatme-jombotron-button {
  text-align: center;
}

.beatme-label {
  font-size: 24px;
  margin: 15px 0;
}

.beats-play-icon {
  width: 30%;
  margin-left: 10px;
  cursor: pointer;
}

.react-numeric-input input {
  font-size: 18px !important;
}
