.beatme-header {
  width: 100vw;
  background-color: #1399d8;
  color: white;
  padding: 12px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24pt;
  z-index: 10;
}

.beatme-jombotron {
  text-align: left;
}

.beatme-jombotron-button {
  text-align: center;
}

.beatme-label {
  font-size: 24px;
  margin: 15px 0;
}

.beats-play-icon {
  width: 30%;
  margin-left: 10px;
  cursor: pointer;
}

.beat-name-span {
  font-weight: 600;
}

.react-numeric-input input {
  font-size: 18px !important;
}

.beatme-formsubmit-btn {
  margin-top: 20px;
}

.beatme-volume-slider {
  height: 10vw;
}

.beatme-volume-container {
  height: 15vw;
  margin: 0 25px;
}

form input {
  border-radius: 4px;
  border-style: groove;
  padding: 3px;
}

.beatme-middle-section {
  margin: 40px 0;
}

.beatme-attribute-row {
  margin-bottom: 2.5vh;
}

.beatme-volume-control-container {
  padding: 0 30px;
  border-radius: 20px;
  background: whitesmoke;
  color: darkslategray;
}

.beatme-volume-slider div {
  margin: 0 auto;
}

.beatme-buttons-row {
  width: 20vw;
  margin: 0 auto 40px;
}

.beatme-formsubmit-btn {
  width: 8vw;
  cursor: pointer;
}